<!-- <img src="images.jpg" alt="">
<h1>Andrian Prayoga</h1>
<p>Peserta Bootcamp Batch 5</p> -->

<div class="card" style="width: 18rem; margin-left: 550px; margin-top: 20px;">
    <img class="card-img-top" src="images.jpg" alt="images">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Andrian Prayoga</h5>
      <p class="card-text" style="text-align: center;">Peserta Bootcamp Batch 5</p>
      <a href="https://github.com/adrianprayoga7" class="btn btn-primary" style="margin-left: 65px;">Get In Touch</a>
    </div>
  </div>