    <% const nama = "Andrian Prayoga"; %>
    <div class="jumbotron text-center mt-4">
        <h1 class="display-4">Hello, <%= nama %>!</h1>
        <p class="lead">Selamat Datang di Bootcamp Batch 5</p>
        <hr class="my-4">
        <p>MATERI EXPRESS JS CRUD</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.wgs.co.id/" role="button">Learn more</a>
        </p>
    </div>